server:
  port: 9191

spring:
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      routes:
        - id: USER-SERVICE
          uri: lb://USER-SERVICE
          predicates:
            - Path=/users/**
        - id: DEPARTMENT-SERVICE
          uri: lb://DEPARTMENT-SERVICE
          predicates:
            - Path=/departments/**

#			for diffrent tendent server 
#			routes:
#			  - id: user-service-dev1
#			    uri: lb://USER-SERVICE
#			    predicates:
#			      - Header=Environment, dev1
#			  - id: user-service-dev2
#			    uri: lb://USER-SERVICE
#			    predicates:
#			      - Header=Environment, dev2
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost